@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  .animate-marquee {
    display: flex;
    width: max-content; */
    /* 30s is the speed - change to 20s to make it faster */
    /* animation: marquee 60s linear infinite;
  } */

  /* Stops the movement when someone hovers with a mouse */
  /* .group:hover .animate-marquee {
    animation-play-state: paused;
  } */

  /* @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      /* This moves the track by exactly half its width */
      /* transform: translateX(-50%);
    }
  }
} */ 


@keyframes scan {
  0% { top: 0%; opacity: 0; }
  50% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

@keyframes marquee-fast {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scan {
  animation: scan 4s linear infinite;
}

.animate-marquee-fast {
  animation: marquee-fast 8s linear infinite;
}
@media (hover: none) {
  /* On touch devices, the animation remains steady */
  .animate-marquee {
    animation-duration: 40s;
  }
}